.motto {
  margin: auto;
  width: 80%;
  text-align: center;
  margin-top: 60px;
  border-radius: 20px;
  padding: 65px;
  background: linear-gradient(rgba(43, 75, 138, 0.9), rgba(26, 53, 93, 0.9)),
    url("../photos/schname.jpg");
  background-size: cover;

  box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.05);
}
/* animation  */
.reveal-motto {
  transition: 1.2s;
  transform: translateY(50px);
  opacity: 0;
}

.reveal-motto.active {
  opacity: 1;
  transform: translateY(0);
}

.motto h1 {
  font-family: "Fjalla One", sans-serif !important;
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.motto p {
  font-family: "LeagueSpartan", sans-serif !important;
  color: #ffd700;
}

.products {
  color: #777;
  font-size: 25px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.motto-row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.motto-col {
  flex-basis: 45%;
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}
.motto-col h3 {
  font-family: "Fjalla One", sans-serif !important;
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  margin: 10px 0;
  color: #2b4b8a;
}
.motto-col p {
  font-family: "LeagueSpartan", sans-serif !important;
  color: #000;
  font-style: italic;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  text-align: justify;
}
.motto-col:hover {
  box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.5);
}
@media (max-width: 800px) {
  .motto-row {
    flex-direction: column;
  }
}
@media (max-width: 525px) {
  .motto h1 {
    font-size: 40px;
  }
}
@media (max-width: 420px) {
  .motto h1 {
    font-size: 30px;
  }
  .motto p {
    font-size: 11px;
  }
  .motto-col h3 {
    font-size: 22px;
  }
  .motto-col p {
    font-size: 10px;
  }
}

/* top bar from nav */

/* Default styles */
.products {
  width: 100%;
  background: linear-gradient(rgba(43, 75, 138, 0.7), rgba(26, 53, 93, 0.7)),
    url("../photos/asemb1.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 70px;
}

.products h1 {
  color: gold;
  font-family: "Fjalla One", sans-serif !important;
  font-size: 60px;
  font-weight: 600;
}

.products p {
  font-family: "LeagueSpartan", sans-serif !important;
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 20px;
}

.card-deck {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 30px;
  max-width: 1900px;
}
/* animation */
.reveal-text {
  transition: 1.2s;
  transform: translateX(-20px);
  opacity: 0;
}

.reveal-text.active {
  opacity: 1;
  transform: translateX(0);
}

.card1,
.card2,
.card3 {
  width: 30%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease, filter 0.5s ease;
  border-radius: 20px;
}

.card-body {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.card1:hover .card-body,
.card2:hover .card-body,
.card3:hover .card-body {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}

.card1:hover .card-img-top,
.card2:hover .card-img-top,
.card3:hover .card-img-top {
  transform: scale(1.1);
  filter: blur(5px);
}

.btn-dark {
  font-size: 1.2em;
  padding: 10px 20px;
  background: #fff !important;
  color: #2b4b8a !important;
  font-weight: 700;
  border: none !important;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.btn-dark:hover {
  background: #ffd700 !important;
  color: #000 !important;
}

.btn-dark:active {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-dark:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

.card-body a {
  font-family: "LeagueSpartan", sans-serif !important;
  font-weight: 600;
  color: white;
  text-decoration: none;
  position: relative;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .card1,
  .card2,
  .card3 {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .card-deck {
    flex-direction: column;
    align-items: center;
  }

  .card1,
  .card2,
  .card3 {
    width: 80%;
    margin-bottom: 20px;
  }

  .products {
    padding-top: 60px;
  }

  .products h1 {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .card1,
  .card2,
  .card3 {
    width: 100%;
  }

  .products {
    padding-top: 50px;
  }

  .products h1 {
    font-size: 35px;
  }

  .products p {
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
  }
}

/* Cards End */
