.gal-teacher {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gal-teacher-container {
  position: relative;
  min-height: 90vh;
  background: #ddd;
}
.gal-teacher-container h1 {
  font-family: "Fjalla One", sans-serif !important;
  font-size: 60px;
  font-weight: bolder;
  padding: 35px;
  padding-top: 40px;
  color: #2b4b8a;
  text-align: center;
  text-transform: capitalize;
}
.gal-teacher-container .image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}
.gal-teacher-container .image-container .image {
  height: 250px;
  width: 350px;
  border: 5px solid #2b4b8a;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  cursor: pointer;
}
.gal-teacher-container .image-container .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}
.gal-teacher-container .image-container .image:hover img {
  transform: scale(1.1);
}

.gal-teacher-container .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 2000;
  display: none;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.gal-teacher-container .popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 2000;
}
.gal-teacher-container .popup-image span:hover {
  color: #ffd700;
}
.gal-teacher-container .btn-group {
  margin-left: 20px;
}
.gal-teacher-container .btn {
  background-color: #2b4b8a !important;
  border: 2px solid #fff !important;
  color: #fff !important;
  text-decoration: none;
}
.gal-teacher-container .btn:hover {
  background-color: #ffd700 !important;
  color: #333 !important;
}
.gal-teacher-container .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #ffd700;
  border-radius: 15px;
  max-width: 90%; /* Adjusts the width for desktop view */
  max-height: 90%; /* Adjusts the height for desktop view */
  object-fit: contain;
  animation: scaleIn 0.5s ease-in-out;
}

@keyframes scaleIn {
  from {
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.gal-teacher-container .navigation-buttons {
  position: absolute;
  top: 50%;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 2000;
}
.gal-teacher-container .navigation-buttons button {
  background: none !important;
  color: white;
  border: none !important; /* Remove the border */
  font-size: 60px;
  padding: 10px 20px;
  cursor: pointer;
}

.gal-teacher-container .navigation-buttons button:hover {
  color: #ffd700;
}
@media (max-width: 768px) {
  .gal-teacher-container .popup-image img {
    max-width: 80%; /* Adjusts the width for mobile view */
    max-height: 80%;
  }
}
